$mainblue:#13dceb;
$mainpink:#db9ad5;
$maincolor:#609fd6;

.bokningar-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin:1rem 2rem 1rem 1rem;
    text-align: center;
    font-family: 'Emilys Candy', cursive;
    .card{
        border: 2px solid $mainpink;
        max-height: 420px;
    }
    .btn-boka{
        background-color: $mainblue;
        width: 100%;
        margin-top: 1rem;
        border-radius: 5rem;
    }
    a{
        color: black;
    }
    p{
        margin-bottom: 1rem;
    }
    h5{
        margin-bottom: 1.5rem;
    }
}


/* responsive break piont */
@media screen and (max-width:786px){

    .card{
        margin-bottom: 2rem;
    }
 }