$mainblue:#13dceb;
$mainpink:#db9ad5;
$maincolor:#609fd6;

.sidebar{
    position: absolute;
    left: 0px;
    width: 250px;
    background-color: white;
    z-index: 2;
    header{
        color: white;
        font-size: 22px;
        text-align: center;
        line-height: 80px;
        background: $mainpink;
    }
    .nav-link{
        display: block;
        line-height: 65px;
        text-decoration: none;
        color: $mainpink;
        font-size: 20px;
        padding-left: 40px;
        border-top: 1px solid rgba(255, 255, 255, .1);
        border-bottom: 1px solid black;
        transition: .4s;
    }
    .nav-link:hover{
        padding-left: 50px;
    }
}
label{
    display: inline;
}
#check{
    display: none;
}
label .btn, label .cancel{
    position: absolute;
    cursor: pointer;
    background:#b859ae;
    border-radius: 3px;
    visibility: hidden;
}
label .btn{
    left: 15px;
    top: 90px;
    font-size: 35px;
    color: white;
    padding: 5px 5px;
    transition: all .5s;
}
label .cancel{
    color: white;
    z-index: 2;
    left: -205px;
    top: 95px;
    font-size: 35px;
    padding: 5px 5px;
    transition: all .5s ease;
}
label .hidebtn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
label .hidecancel{
    left: 205px;
}

section{
    margin-left: 250px;
    min-height: 70vh;
    h4{
        text-align: center;
        margin-top: 3rem;
    }
    form{
        width: 300px;
        margin: 2rem auto;
        input{
            width: 100%;
            margin-bottom: 1rem;
            padding: .3rem .5rem;
            border: 1.5px solid lightgrey;
            border-radius: 10px;
        }
        .btn{
            width: 100%;
            background-color: $mainblue;
        }
    }
    .btn-delete{
        border: none;
        padding: .2rem 1rem;
        margin-top: 1rem;
        border-radius: 15px;
        width: 100%;
    }
    .deleteaccount-container{
        width: 300px;
        margin: 3rem auto;
        input{
            margin-top: 1rem;
            padding: .3rem 1rem;
            width: 100%;
            border: 1px solid lightgrey;
            border-radius: 10px;
        }
    }
}

/* responsive break piont */
@media screen and (max-width:786px){
    label .btn, label .cancel{
        visibility: visible;
        cursor: pointer;
    }
    .sidebar{
        left: -250px;
    }
    .showsidebar{
        left: 0;
    }
    section{
        min-height: 80vh;
        margin-left: 0;
        margin-top: 4rem;
        #change-password-form{
            border: none;
            max-width: 480px;
            h5{
                margin-top: 4rem;
            }
        }
        .bokningar-container{
            margin-top: 4rem;
        }
    }
    
}
