$mainblue:#13dceb;
$mainpink:#db9ad5;
$maincolor:#609fd6;

.userlogin-container{
    font-family: 'Emilys Candy', cursive;
    display: flex;
    max-width: 1440px;
    margin: 3rem auto;
    justify-content: center;
    .error{
        color: red;
    }
    p{
        margin-top: 2rem;
        margin-left: 1rem;
    }
    svg{
        width: 2rem;
        height: 2rem;
        color: $maincolor;
    }
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin-right: 1rem;
        input{
            margin-top: .5rem;
            padding: .5rem 1rem;
            width: 100%;
        }
        button{
            margin: .5rem 0;
            padding: .5rem 1rem;
            border: none;
            width: 100%;
            background-color: $mainblue;
        }
        a{
            text-decoration: none;
            color: black;
            font-size: smaller;
            align-self: flex-end;
        }
        a:hover{
            color: $maincolor;
        }
    }
    .btn-change{
        padding: .5rem 0;
        border: none;
        background-color: white;
        width: 20rem;
        margin: 1rem auto;
    }
    .or-before, .or-after{
        width: .5rem;
        height: 180px;
        border-right: 2px solid lightgray;
    }
    .firebase-ui-container{
        max-width: 360px;
    }
}